@import "tailwindcss";
@import "../src/theme.css";

@layer base {
  body {
    margin: 0;
    padding: 0;
    width: 360px;
    min-height: 320px;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
