# Node
node_modules/
dist/
build/
coverage/
*.log
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Tools
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Database
*.sql
*.sqlite
